<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .reset_password_form_container{
            padding: 10px;
            width:   40%;
            height: 40%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: white;
        }
        #Reset_form{
            
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #Reset_form *{
            margin-top: 20px;
        }
        input{
            width: 70%;
            border: none;
            border-bottom: 1px solid black;
        }
        button{
            width: 30%;;
            padding: 10px;
            border: none;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div class="reset_password_form_container">
   <h1>
    Reset Password
    </h1>
    <form id="Reset_form">
        <input type="password" id="password" placeholder="password">
        <input type="password" id="confirm_password" placeholder="Donfirm Password">
        <button>
          Change
        </button>
    </form>
    </div>
</body>
<script>
  document.getElementById("Reset_form").addEventListener("submit",async(event)=>{
    event.preventDefault()
    const password=document.getElementById("password").value
    const confirm_password=document.getElementById("confirm_password").value
    if(password.length<8 ){
        alert("password size musht be greated than or equal to 8 character")
    }  else if(password== confirm_password){
    const user_data=location.href.split("/")
     console.log(user_data)
     const email=user_data[4]
     const id=user_data[5]
     const content={
           method:"POST",
           headers:{
             "Content-Type":"application/json"
           },
           body:JSON.stringify({password:password})
          }
      const res = await fetch(`/changePassword/${email}/${id}`, content)
      const data= await res.json()
      if(data.status==true){
        alert("password changed")
         location.href=location.origin+"/signin"
      }
    }else{
      alert("confirm password and password do not match")
    }
    
  })
</script>
</html>